@model Product
@{
    ViewData["Title"] = "Create";
}
@section Css {    
    <style>
        input[type="checkbox"] {
            filter: invert(100%) hue-rotate(18deg) brightness(1.7);
        }
    </style>
}
<div class="container-fluid " style="border:1px solid darkgrey;">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <h2 class="mt-4">Create a new Product</h2>
    <form method="post" class="mt-4" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Product Name</label>
            <input asp-for="@Model.Name" style="border:1px solid darkgrey;" type="text" class="form-control">
            <span class="text-danger text" asp-validation-for="@Model.Name"></span>
        </div><br />
        <div class="mb-3">
            <label asp-for="@Model.Price" class="form-label">Product Price</label>
            <input asp-for="@Model.Price" style="border:1px solid darkgrey;" class="form-control">
            <span class="text-danger text" asp-validation-for="@Model.Price"></span>
        </div><br />
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Product Description</label>
            <input asp-for="@Model.Description" style="border:1px solid darkgrey;" type="text" class="form-control">
            <span class="text-danger text" asp-validation-for="@Model.Description"></span>
        </div><br />
        <div class="mb-3">
            <label asp-for="@Model.ItemCount" class="form-label">Product Count</label>
            <input asp-for="@Model.ItemCount" style="border:1px solid darkgrey;" class="form-control">
            <span class="text-danger text" asp-validation-for="@Model.ItemCount"></span>
        </div><br />
        <div class="mb-3">
            <label asp-for="@Model.CampaignId" class="form-label">Select Product Campaign</label>
            <select class="form-select" asp-for="@Model.CampaignId" asp-items="@(new SelectList(ViewBag.Campaigns,"Id","DiscountPercent"))">
                <option value="0"></option>
            </select>
            <span class="text-danger text" asp-validation-for="@Model.CampaignId"></span>
        </div><br />
        <div class="mb-3">
            <label asp-for="@Model.VendorId" class="form-label">Select Product Vendor</label>
            <select class="form-select" asp-for="@Model.VendorId" asp-items="@(new SelectList(ViewBag.Vendors,"Id","Name"))">
                <option value="null"></option>
            </select>
            <span class="text-danger text" asp-validation-for="@Model.VendorId"></span>
        </div><br />
        <div class="mb-3">
            <label asp-for="@Model.CollectionIds" class="form-label">Select Product Collection</label>
            <select style="height:170px;" class="form-select" asp-for="@Model.CollectionIds" asp-items="@(new SelectList(ViewBag.Collections,"Id","Name"))"><option value="null"></option></select>
            <span class="text-danger text" asp-validation-for="@Model.CollectionIds"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.InStock" class="form-label">Product In Stock</label><br />
            <input asp-for="@Model.InStock" style="border:1px solid darkgrey;" type="checkbox"><br />
            <span class="text-danger text" asp-validation-for="@Model.InStock"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ImageFiles" class="form-label">Select images</label>
            <input  multiple accept="image/*"  asp-for="@Model.ImageFiles" class="form-control" />
            <span class="mt-2 text text-danger" asp-validation-for="@Model.ImageFiles"></span>
        </div><br />
        <button type="submit" style="font-family: cursive;" class="btn mb-3 btn-primary">
            Create
        </button>
    </form>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
}

