@model List<Blog>
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid" style="padding:0; border:1px solid darkgrey;">
    <a asp-controller="blog" asp-action="create" style="
 margin: 15px; font-family: cursive;" class="btn btn-lg btn-primary">Create</a>
    <table style="border:1px solid black;" class="table table-bordered">
        <thead style="border:1px solid darkgrey;">
            <tr>
                <th style="border:1px solid darkgrey;">
                    <strong>Id</strong>
                </th>
                <th style="border:1px solid darkgrey;">
                    <strong>Name</strong>
                </th>
                <th style="border:1px solid darkgrey;">
                    <strong>Image</strong>
                </th>
                <th style="border:1px solid darkgrey;">
                    <strong>Author</strong>
                </th>
                <th style="border:1px solid darkgrey;">
                    <strong>Date</strong>
                </th>
                <th style="border:1px solid darkgrey;">
                    <strong>HeadTitle</strong>
                </th>
                <th style="border:1px solid darkgrey;">
                    <strong>Quote</strong>
                </th>
                <th style="border:1px solid darkgrey;">
                    <strong>Control Panel</strong>
                </th>
            </tr>
        </thead>
        <tbody style="border:1px solid darkgrey;">
            @foreach (Blog blog in Model)
            {
                <tr>
                    <td>
                        <strong>@blog.Id</strong>
                    </td>
                    <td>
                        @blog.Name
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <img style="width:160px; height:120px; border-radius:unset;" src="@blog.Image" alt="blog page">
                    </td>
                    <td>
                        @blog.Author
                    </td>
                    <td>
                        @blog.Date.ToString("dd.MMMMMMMMM.yyyy")
                    </td>
                    <td>
                        @blog.HeadTitle.Substring(0, 5)...
                    </td>
                    <td>
                        @blog.Quote.Substring(0, 25)...
                    </td>
                    <td>
                        <a asp-controller="blog" asp-action="edit" asp-route-id="@blog.Id" style="margin-bottom: 20px;" class="btn  btn-warning">Change</a>
                        <a asp-controller="blog" asp-action="delete" asp-route-id="@blog.Id" class="btn delete-item  btn-danger">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table><br />
    <ul class="pagination pagination-lg" style="justify-content: center;  color: white;">
        @if (ViewBag.CurrentPage == 1)
        {
            <li class="page-item">
                <a asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)" class="page-link" style="pointer-events: none; background-color: #4d83ff; color: white;" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)" class="page-link" style="background-color: #4d83ff; color: white;" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {


            <a style=" @(ViewBag.CurrentPage== i?"background-color:white; color:#4d83ff;pointer-events:none":"background-color:#4d83ff; color:white")" asp-controller="blog" asp-action="index" asp-route-page="@i" class="page-link">
            <li class="page-item @(ViewBag.CurrentPage== i?"active":"")">@i</li></a>

        }
        @if (ViewBag.CurrentPage == ViewBag.TotalPage)
        {
            <li class="page-item">
                <a asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.CurrentPage+1)" class="page-link" style="pointer-events: none; background-color: #4d83ff; color: white;" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a asp-controller="blog" asp-action="index" asp-route-page="@(ViewBag.CurrentPage+1)" class="page-link" style="background-color: #4d83ff; color: white;" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</div>
@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(".delete-item").click(function (e) {
            e.preventDefault()
            console.log($(this).attr("href"))
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    var link = $(this).attr("href");
                    fetch(link).then(response => response.json()).then(data => {
                        if (data.status == 200) {
                            location.reload(true)
                        } else {
                            Swal.fire(
                                'Not found!',
                                'Your file can not be deleted.',
                                'Failed'
                            )
                        }
                    }

                    );
                }
            })
        })
    </script>
}

